.Footer {
  background-color: #373d48;
  border: 1px solid #4e5665;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #d6d6d6;
  
    &_links {
      display:flex;
      justify-content: center;
      align-items: center;
    }
  
    &_link {
      display: inline-block;
      text-decoration: none;
      color: #d6d6d6;
    }
  
    &_link:last-child {
      margin-left: 10px;
    }

    &_logo {
      display: flex;
      width: 7rem;
    }
  
    i {
      margin-right: 10px;
    }
  }