.Carousel {
  color: #d6d6d6;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mode_name {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

@media (orientation: portrait) {
  .mode_name {
    font-size: 16px;
  }
}

.btn_arrow {
  border: 1px solid #4e5665;
  border-radius: 10px;
  
  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.arrow_left {
  background: url('../../../assets/icons/left_arrow.svg');

}

.arrow_right {
  background: url('../../../assets/icons/right_arrow.svg');
}

.arrow_left, .arrow_right {
  width: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: #373d48;
}
