::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: #404040;
}

::-webkit-scrollbar-corner {
  background: #404040;
}

::-webkit-scrollbar-thumb {
  background: #5c5c5c;
}

img {
  width: 100%;
  height: 100%;
}

.App {
  width: 98%;
  /* height: 95%; */
  height: 98vh;
  margin: auto;
  cursor: default;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.4fr;
  grid-template-rows: 0.1fr 1fr 0.09fr;
  gap: 13px 13px;
  grid-template-areas:
    "h h h"
    "l c r"
    'l b r';
}

.Header {
  grid-area: h;
  padding: 20px 0 10px;
  font-size: 28px;
  font-weight: 800;
  color: #d6d6d6;
  /* -webkit-text-stroke: 0.5px #d6d6d6; */
}

.Left {
  grid-area: l;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Center {
  position: relative;
  grid-area: c;
}

.Right {
  grid-area: r;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.Right_content {
  // position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Right_graph {
  position: relative;
  display: flex;
}

.Bottom {
  grid-area: b;
}


.expand {
  top: 0;
  right: 0;
  padding: 10px 10px;
  border: 1px solid #4e5665;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  background: url('./assets/icons/expand.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: #373d48;
  z-index: 1000;

  &:hover {
      outline: none;
  }
  &:hover {
      transform: scale(1.05);
  }
}

.Modal {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background-color: #373d48;
  border: 2px solid #4e5665;
  z-index: 2000;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d6d6d6;
  z-index: 3000;
}