ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: #404040;
}

::-webkit-scrollbar-corner {
  background: #404040;
}

::-webkit-scrollbar-thumb {
  background: #5c5c5c;
}

img {
  width: 100%;
  height: 100%;
}

.App {
  width: 95%;
  height: 95%;
  margin: auto;
  cursor: default;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.7fr;
  grid-template-rows: 0.1fr 0.5fr 0.8fr;
  gap: 5px 5px;
  grid-template-areas:
    "h h h"
    "l c r"
    'b b b';
}

.Header {
  grid-area: h;
}

.Left {
  grid-area: l;
}

.Center {
  grid-area: c;
}

.Right {
  grid-area: r;
}

.Bottom {
  grid-area: b;
}