.can_toggle {
  position: relative;
  display: inline-block;
  width:  140px;
  height: 40px;
  // border: 1px solid #4e5665;

  input {
    display:none;
  }
  
}

.can_toggle__switch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #373d48;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    top: 5px;
    left: 10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .can_toggle__switch[data-sort='0'] {
  background-color: rgb(122, 36, 30);
}

input:checked + .can_toggle__switch[data-sort='1'] {
  background-color: rgb(20, 55, 131);
}

input:checked + .can_toggle__switch[data-sort='2'] {
  background-color: rgb(17, 119, 17);
}

input:checked + .can_toggle__switch:before {
  transform: translateX(90px);
}

.value_off {
  display: none;
}

.value_on,
.value_off {
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 48%;
  left: 62%;
  font-size: 20px;
}

input:checked + .can_toggle__switch .value_off {
  display: block;
  left: 35%;
}

input:checked + .can_toggle__switch .value_on {
  display: none;
}

/* Rounded sliders */
.can_toggle__switch.round {
  border-radius: 35px;
}

.can_toggle__switch.round:before {
  border-radius: 50%;
}
