.CountryList {
    margin-bottom: 15px;
    /* margin: 0 10px 15px 0; */
    min-height: 320px;
    height: 37rem;
    overflow: auto;

    background-color: #373d48;
    border: 1px solid #4e5665;

}

ul {
    list-style: none;
    
}

ul, li {
    border: 0;
    vertical-align: baseline;
}
  

  
  