.CountryList {
    min-height: 200px;
    max-height: 34rem;
    overflow: auto;
}

@media (orientation: portrait) {
    .CountryList {
        max-height: 10rem;
    }
  }

ul {
    list-style: none;
    
}

ul, li {
    border: 0;
    vertical-align: baseline;
}
  

  
  