.CountryList {
    min-height: 320px;
    max-height: 34rem;
    overflow: auto;
}

ul {
    list-style: none;
    
}

ul, li {
    border: 0;
    vertical-align: baseline;
}
  

  
  