.Graph {
  position: relative;
  min-height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.graph-container {
  width: 100%;
  max-width: 25rem;
  height: 100%;
  max-height: 25rem;
}
