.Graph {
  position: relative;
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.graph-container {
  width: 100%;
  height: 100%;
}
