.Graph {
  position: relative;
  min-height: 15.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.graph-container {
  width: 100%;
  height: 100%;
  max-width: 25rem;
  max-height: 15.5rem;
}
