.keyboard-insert {
  caret-color: #ff0000;
}

.keyboard-input::-webkit-scrollbar {
  width: 1rem;
}

.keyboard-input::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5em rgba(0,0,0,0.25);
  border-radius: 1rem;
}

.keyboard-input::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5em rgba(0,0,0,0.25);
  border-radius: 1rem;
}

.keyboard {
  background-color: #d6d6d6;
  bottom: 1rem;
  left: 1rem;
  position: absolute;
  width: 460px;
  display: grid;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
  z-index: 1;
}

.keyboard-visible {
  opacity: 0.75;
  visibility: visible;
}

.kb-line {
  width: 100%;
  display: grid;
  margin: 0 auto;
}

.kb-line-0 {
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
}

.kb-line-1 {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
}
.kb-line-2 {
  grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.5fr;
}
.kb-line-3 {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.kb-line-4 {
  grid-template-columns: 2fr 6fr 1fr 1fr;
}

.kb-key {
  margin: 0.25rem;
  height: 2rem;
  display: flex;
  font-size: 1rem;
  box-shadow: 0.2em 0.2em 0.3em;
  border: 0.01em solid;
  border-radius: 0.5em;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.kb-key-toggle {
  border: 0.2em solid #ff0000;
  transform: scale(1);
  box-shadow: 0.1em 0.1em 0.2em;
}

.material-icons {
  font-size: 2rem;
  padding-top: 0.25em;
}

.kb-key:hover {
  transform: scale(1.1);
}

.kb-key-press,
.kb-key:active,
.kb-key:focus {
  transform: scale(1);
  box-shadow: 0.1em 0.1em 0.2em;
}

.kb-shift-key {
  align-self: flex-start;
  font-size: 0.75em;
  opacity: 0.5;
}