.keyboard-insert {
  caret-color: #ff0000;
}

.keyboard-input::-webkit-scrollbar {
  width: 1rem;
}

.keyboard-input::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5em rgba(0,0,0,0.25);
  border-radius: 1rem;
}

.keyboard-input::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5em rgba(0,0,0,0.25);
  border-radius: 1rem;
}

.keyboard {
  width: 80%;
  display: grid;
  margin: 0 auto;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}

.keyboard-visible {
  opacity: 1;
  visibility: visible;
}

.kb-line {
  width: 100%;
  display: grid;
  margin: 0 auto;
}

.kb-line-0 {
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
}

.kb-line-1 {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
}
.kb-line-2 {
  grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.5fr 1fr;
}
.kb-line-3 {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.kb-line-4 {
  grid-template-columns: 2fr 1fr 1fr 6fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.kb-key {
  margin: 0.5rem;
  height: 3.5rem;
  display: flex;
  font-size: 1.3rem;
  box-shadow: 0.2em 0.2em 0.3em;
  border: 0.01em solid;
  border-radius: 0.5em;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.kb-key-toggle {
  border: 0.2em solid #ff0000;
  transform: scale(1);
  box-shadow: 0.1em 0.1em 0.2em;
}

.material-icons {
  font-size: 2rem;
  padding-top: 0.25em;
}

.kb-key:hover {
  transform: scale(1.1);
}

.kb-key-press,
.kb-key:active,
.kb-key:focus {
  transform: scale(1);
  box-shadow: 0.1em 0.1em 0.2em;
}

.kb-shift-key {
  align-self: flex-start;
  font-size: 0.75em;
  opacity: 0.5;
}

.copyright {
  max-width: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  user-select: none;
}

.copyright-text {
  font-size: 1rem;
  color: transparent;
  text-shadow: 0 0 0.03em #eeeeee, 0.12em 0.06em 0.03em #00dcdc,
    -0.12em -0.06em 0.03em #ff3232;
  animation: glitch 4s ease-in-out infinite alternate;
}

@keyframes glitch {
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }
  41% {
    transform: skewX(10deg);
  }
  42% {
    transform: skewX(-10deg);
  }
  59% {
    transform: skewX(40deg) skewY(10deg);
  }
  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }
  63% {
    transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}

.gear {
  fill: currentColor;
  height: 3rem;
  position: absolute;
  width: 3rem;
  right: 0.5rem;
  opacity: 0;
  visibility: hidden;
}

.gear-visible {
  opacity: 1;
  visibility: visible;
}

svg {
  width: 80%;
  height: 80%;
}

@media (max-width: 1100px) {
  .keyboard-input {
    height: 19vw;
  }

  .keyboard {
    width: 90%;

  }

  .kb-line-0 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .kb-line-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .kb-line-2 {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.5fr;
  }
  .kb-line-3 {
    grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .kb-line-4 {
    grid-template-columns: 1.5fr 1fr 1fr 6fr 1fr 1fr 1fr 1fr 1fr;
  }

  .kb-key {
    margin: 0.25rem;
    height: 5rem;
    font-size: 2.8rem;
    box-shadow: 0.1em 0.1em 0.2em;
  }

  .kb-key:hover {
    transform: scale(1);
    color: #000000;
    background-color: #ffffff;
  }

  .kb-key-toggle {
    border: 0.1em solid #ff0000;
    box-shadow: 0.05em 0.05em 0.1em;
  }

  .kb-key-press,
  .kb-key:active,
  .kb-key:focus {
    box-shadow: 0.05em 0.05em 0.1em;
    color: #000000;
    background-color: #ffffff;
  }
}

.gear {
  height: 3rem;
}