.Table {
  position: relative;
  min-height: 300px;
  /* height: 10rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: #373d48;
  border: 1px solid #4e5665;
  color: #d6d6d6;
  font-size: 20px;

  &_country_name {
      font-size: 28px;
  }
}

hr {
    border-top: 1px solid #d6d6d6;
}

.expand {
  top: 0;
  right: 0;
  padding: 10px 10px;
  border: 1px solid #4e5665;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  background: url('../../../assets/icons/expand.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: #373d48;

  &:hover {
      outline: none;
  }
  &:hover {
      transform: scale(1.05);
  }
}

.Modal {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background-color: #373d48;
  border: 2px solid #4e5665;
  // z-index: 2000;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d6d6d6;
  z-index: 3000;
}