.countryCounter {
    color: #ff0000;
}

.countryName {
    margin: 0 0.25em 0 0.5em;
    color: #d6d6d6;
}

.countryFlag {
    display: flex;
    width: 16px;
    height: 16px;
}

.country {
    display: flex;
    padding: 0.1em;
    cursor: pointer;
    &:hover, &.selected {
        background-color: #d6d6d6;
        & .countryName {
            color: #000000;
        }
        & .countryFlag {
            border: 0.01em solid #000000;
        }
    }
}