.footer {
  // margin: 0 10px 10px 0;
  background-color: #373d48;
  border: 1px solid #4e5665;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #d6d6d6;


    &_links {
      margin: 0 10px 0 10px;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    &_link {
      display: inline-block;
      text-decoration: none;
      color: #d6d6d6;
    }
  
    &_logo {
      display: inline-block;
      width: 7rem;
      height: 3rem;
      background: url('../../assets/icons/rs_school_js.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  
    i {
      margin-right: 10px;
    }
  }