.Center {
    flex-direction: column;
    min-height: 30rem;
}

.Center .Nav {
    // display: flex;
    justify-content: space-around;
    padding-top: 5px;
    border: none;
    width: 90%;
}

.Center .Carousel {
    width: 40%;
}

.Center .Filters {
    width: 40%;
}