.leaflet-container {
    background-color: #222222;
    width: 100%;
    height: 100%;
    outline: 0;
    z-index: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #373d48;
}

.leaflet-popup-content {
    color: #d6d6d6;
    line-height: 0.5;
}

hr {
    width: 90%;
    border-top: 0.5px solid #d6d6d6;
}

.leaflet-control-zoom a  {
    color: #d6d6d6;
    background-color: #373d48;
    border-bottom: 1px solid #373d48;
}

.info_pannel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
    max-width: 250px;
    max-height: 250px;
    background-color: #373d48;
}

.info_pannel_country {
    align-self: center;
    font-size: 20px;
}

.info_pannel_country {
    padding: 10px;
    font-size: 18px;
}

.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}

.leaflet-tooltip {
    padding: 0px 3px 0px 3px !important;
} 

.leaflet-tooltip-own {
    position: absolute;
    padding: 10px;
    background-color: #373d48;
    border: 1px solid #4e5665;
    color: #d6d6d6;
    white-space: nowrap;
    user-select: none;
    pointer-events: none;

    box-shadow: 0 1px 3px rgba(0,0,0,0.4);

    display: flex;
    text-align: center;
    font-size: 15px;
}

.tool_tip_content {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.legend {
    padding: 15px;
    line-height: 18px;
    background-color: #373d48;
    border: 1px solid #4e5665;
    color: #d6d6d6;
    font-size: 13px;
    opacity: 0.8;
}

.legend i {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.legend_item {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}