.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #404040;
}

.leaflet-popup-content {
    color: white;
    line-height: 0.5;
}

hr {
    width: 90%;
    border-top: 0.5px solid white;
}

.info_pannel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    min-width: 150px;
    max-width: 250px;
    max-height: 250px;
    background: #404040;
}

.info_pannel_country {
    align-self: center;
    font-size: 20px;
}

.info_pannel_country {
    padding: 10px;
    font-size: 18px;
}