.leaflet-container {
    background:#222222;
    outline: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #404040;
}

.leaflet-popup-content {
    color: white;
    line-height: 0.5;
}

hr {
    width: 90%;
    border-top: 0.5px solid white;
}

.info_pannel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    min-width: 150px;
    max-width: 250px;
    max-height: 250px;
    background: #404040;
}

.info_pannel_country {
    align-self: center;
    font-size: 20px;
}

.info_pannel_country {
    padding: 10px;
    font-size: 18px;
}

.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}

.leaflet-tooltip {
    padding: 0px 3px 0px 3px !important;
} 

.leaflet-tooltip-own {
    /* height: 100px; */
    position: absolute;
    padding: 4px;
    background-color: #404040;
    /* background-color: rgba(245, 236, 236, 0.4); */
    border: 0px solid #404040;
    color: white;
    white-space: nowrap;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);

    display: flex;
    text-align: center;
    font-size: 15px;
}

.tool_tip_content {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.legend {
    padding: 10px;
    line-height: 18px;
    background-color: #404040;
    color: white;
    opacity: 0.75;
}

.legend i {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    opacity: 0.7;
}

.legend_item {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}